<div class="plain-background p-4">
  <!-- Authentication alert -->
  <div class="alert alert-danger container error-section" role="alert" *ngIf="error">
    <h1>Oops!</h1>
    {{content}}. Click <a href="../login" routerLink="../login" class="alert-link">here</a> to log in into your account.
  </div>
  <!-- Success alert -->
  <div class="alert alert-success container alert-dismissible fade show" role="alert" style="width: 80%"
       *ngIf="visible">
    <strong>Success!</strong> {{message}} Check out your profile for more information.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Body of the page -->
  <div class="row flexible">
    <div class="card m-3 car-card" *ngFor="let rentedCar of cars">
      <img class="card-img-top" src="assets/cars/{{rentedCar.car.id}}.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="car-header">
          <h5 class="car-name"><strong>{{rentedCar.car.brand}} {{rentedCar.car.model}} </strong>| {{rentedCar.car.year}}
          </h5>
        </div>
        <hr style="border-top: 2px solid white; opacity: 1; margin-top: 0">
        <div class="car-components mt-2">
          <div class="car-component">
            <i class="fa component-icon">&#xf274;</i>
            <p>{{rentedCar.startDate}} HP</p>
          </div>
          <div class="car-component">
            <i class="fa component-icon">&#xf273;</i>
            <p>{{rentedCar.endDate}}</p>
          </div>
          <div class="car-component">
            <i class="fa component-icon">&#xf02c;</i>
            <p>{{rentedCar.car.price}}$/<small>day</small></p>
          </div>
        </div>
        <div class="button-container">
          <button type="button" class="btn btn-outline-danger btn-lg btn-block mr-3" data-toggle="modal"
                  attr.data-target="#return{{rentedCar.car.id}}" style="font-size: 20px">
            Return
          </button>
          <button type="button" class="btn btn-outline-light btn-lg btn-block mt-0" data-toggle="modal"
                  attr.data-target="#extend{{rentedCar.car.id}}" style="font-size: 20px" (click)="initExtendPrice()">
            Extend
          </button>
          <!-- Rental extend modal -->
          <div class="modal fade" id="extend{{rentedCar.car.id}}" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="car-header">
                    <h5 class="car-name mb-0" style="color: black; font-size: 25px">Extending your rental for:<br>
                      <strong>{{rentedCar.car.brand}} {{rentedCar.car.model}}</strong></h5>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="color: black">
                  <select (change)="setExtendPrice($event.target, rentedCar.car.price)">
                    <option selected value="undefined" disabled>Choose number of days</option>
                    <option *ngFor="let item of [].constructor(30); let i = index" value={{i}}>{{i + 1}} days</option>
                  </select>
                </div>
                <div class="modal-footer" style="justify-content: space-between">
                  <p class="total-price">Total cost of the extension:
                    <strong>{{extendPrice}}</strong>$
                  </p>
                  <div class="modal-footer-buttons">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-dark ml-3" [disabled]="extendPrice == NAN"
                            (click)="onExtend(rentedCar.car.id)">Buy
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Return modal -->
          <div class="modal fade" id="return{{rentedCar.car.id}}" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="car-header">
                    <h5 class="car-name mb-0" style="color: black; font-size: 25px">Returning the car:<br>
                      <strong>{{rentedCar.car.brand}} {{rentedCar.car.model}}</strong></h5>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer" style="justify-content: space-between">
                  <p class="total-price">Thank you for choosing our services!</p>
                  <div class="modal-footer-buttons">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-dark ml-3"
                            (click)="onReturn(rentedCar.car.id)">Return
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
