/* Grid style */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar"
        "dir-editor"
        "dir-adder";
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "navbar navbar"
            "dir-editor dir-adder";
    }
}

.dir-adder {
    background-color: var(--color-sidebar);
    grid-area: dir-adder;
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: 30px;
    padding: 40px;
}

.dir-editor {
    padding: 40px;
    font-size: 26px;
    grid-area: dir-editor;
    background-color: var(--color-footer);
    color: var(--color-text);
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.file-or-dir {
    display: inline-block;
    height: 35px;
}

.file-or-dir form {
    display: none;
}

.file-or-dir:hover form {
    display: inline-block;
}
