/* Grid style */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar"
        "file-upload";
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-rows: 70px 1fr;
    }
}

.file-upload {
    grid-area: file-upload;
    height: 100%;
    width: 100%;
    background-color: var(--color-sidebar);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 40px;
}