{% extends "compiler/base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'compiler/dir-editor-styles.css' %}?{% now "U" %}">
{% endblock head %}

{% block content %}
    <div class="grid-item dir-editor">
        <ul>
            {% for dir in directories %}
                {% include "compiler/directories-tree-editor.html" %}
            {% endfor %}
        </ul>
    </div>
    <div class="grid-item dir-adder">
        <div class="adder">
            <form action="{% url 'compiler:add_directory' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter directory name:
                        <input class="form-control" type="text" name="name" placeholder="Directory name">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Enter directory description:
                        <input class="form-control" type="text" name="description" placeholder="Directory description">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Select parent directory:
                        <select class="form-control" name="parent">
                            <option value="">Root</option>
                            {% for dir in all_directories %}
                                <option value="{{ dir.id }}">{{ dir.info.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <button type="submit" class="btn btn-outline-light">Add new directory</button>
            </form>
        </div>
    </div>
{% endblock content %}
