<li>
    {% if dir.is_file %}
        <i class="fa fa-file-o" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-folder-o" aria-hidden="true"></i>
    {% endif %}
    {{ dir.info.name }}
    {% if dir.has_children %}
        <ul>
            {% for dirchild in dir.get_children %}
                {% with dir=dirchild template_name="compiler/directories.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
</li>