<li>
    {% if dir.is_file %}
        <i class="fa fa-file-o" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-folder-o" aria-hidden="true"></i>
    {% endif %}
    {% if dir.is_file %}
        <a class="text-decoration-none" href="{% url 'compiler:show_file' dir.info.id %}">{{ dir.info.name }}</a>
    {% else %}
        {{ dir.info.name }}
    {% endif %}
    {% if dir.has_children %}
        <ul>
            {% for dirchild in dir.get_children %}
                {% with dir=dirchild template_name="compiler/directories-tree.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
</li>