{% extends "compiler/base.html" %}
{% load static %}

{% block content %}
    <div class="grid-item choose-file">
        <div class="directory-structure">
            <ul>
                {% for dir in directories %}
                    {% include "compiler/directories-tree.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="grid-item program-content">
        <div class="editor-container">
            <div id="editor"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
        <script type="text/javascript">
            const parsedCode = JSON.parse('{{ code|safe }}');
            let code = parsedCode['code']

            console.log(code)
            let editorTemp = document.querySelector("#editor");
            ace.edit(editorTemp, {
                theme: "ace/theme/dracula", // "ace/theme/chrome"
                mode: "ace/mode/c_cpp",
                fontSize: "12pt",
                value: code.join("\n"),
            });

        </script>
    </div>
    <div class="grid-item code-fragment">
        {% if output %}
            <div class="mb-0 h-100 w-100 p-2 overflow-auto">
                Compiled with {{ cmd }}
                {% for line in output %}
                    <pre class="line">{{ line }}</pre>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="grid-item compile-options">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3 ml-0" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-processor-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-processor" type="button" role="tab" aria-controls="v-pills-processor"
                        aria-selected="true">Processor
                </button>
                <button class="nav-link" id="v-pills-optimization-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-optimization" type="button" role="tab"
                        aria-controls="v-pills-optimization"
                        aria-selected="false">Optimization
                </button>
                <button class="nav-link" id="v-pills-standard-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-standard" type="button" role="tab" aria-controls="v-pills-standard"
                        aria-selected="false">Standard
                </button>
                <button class="nav-link" id="v-pills-options-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-options" type="button" role="tab" aria-controls="v-pills-options"
                        aria-selected="false">Options
                </button>
            </div>
            {% if file_id %}
                <form method="post" action="{% url 'compiler:show_file' file_id %}" id="compile-form">
                {% csrf_token %}
            {% endif %}
            <div class="tab-content compile-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-processor" role="tabpanel"
                     aria-labelledby="v-pills-processor-tab">
                    Choose processor for compilation.
                    {{ form.processor }}
                </div>
                <div class="tab-pane fade" id="v-pills-optimization" role="tabpanel"
                     aria-labelledby="v-pills-optimization-tab">
                    Choose optimizations for compilation (multiple choice).
                    {{ form.optimization }}
                </div>
                <div class="tab-pane fade" id="v-pills-standard" role="tabpanel"
                     aria-labelledby="v-pills-standard-tab">
                    Choose standard for compilation.
                    {{ form.standard }}
                </div>
                <div class="tab-pane fade" id="v-pills-options" role="tabpanel"
                     aria-labelledby="v-pills-options-tab">
                    Choose options for your processor, options for other processors will be omitted.
                    <div class="form-group">
                        {{ form.options_AVR }}
                        {{ form.options_MCS51 }}
                        {{ form.options_Z80 }}
                        {{ form.options_STM8 }}
                    </div>
                </div>
            </div>
            {% if file_id %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}