<div class="p-5 text-center bg-image main-div-enhanced">
  <div class="mask background-mask">
    <div class="text-center p-0 mb-2">
      <img src="../../../assets/images/logo.png"
           style="width: 185px;" alt="logo">
    </div>
    <div class="user-info car-name" style="font-size: 20px">
      <h5>Welcome to your profile!</h5>
      <div class="info-item">
        <p class="mb-0"><i class="fa mr-1 icon-w">&#xf2bc;</i>{{currentUser.username.toLowerCase()}}</p>
      </div>
      <div class="info-item"><p class="mb-0" style="font-size: 20px">
        <i class="fa mr-1 icon-w">&#xf003;</i>{{currentUser.email.toLowerCase()}}</p>
      </div>
      <div class="info-item"><p class="mb-0"><i class="fa mr-1 icon-w">&#xf0d6;</i>spent:
        {{currentUser.moneySpent}}$</p>
      </div>
      <div class="info-item"><p class="mb-0"><i class="fa mr-1 icon-w">&#xf219;</i>status:
        <strong [ngClass]="getStatusName(currentUser.moneySpent).toLowerCase()">{{status}}</strong></p>
      </div>
    </div>
  </div>
</div>
