<div class="plain-background p-4" style="height: auto">
  <div class="row flexible">
    <div class="card m-3 car-card" *ngFor="let car of cars">
      <img class="card-img-top" src="assets/cars/{{car.id}}.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="car-header">
          <h5 class="car-name"><strong>{{car.brand}} {{car.model}} </strong>| {{car.year}}</h5>
        </div>
        <hr style="border-top: 2px solid white; opacity: 1; margin-top: 0">
        <div class="car-components mt-2">
          <div class="car-component">
            <i class="fa component-icon">&#xf0e7;</i>
            <p>{{car.horsepower}} HP</p>
          </div>
          <div class="car-component">
            <i class="fa component-icon">&#xf085;</i>
            <p>{{car.gearbox}}</p>
          </div>
          <div class="car-component">
            <i class="fa component-icon">&#xf005;</i>
            <p>{{car.category}}</p>
          </div>
          <div class="car-component">
            <i class="fa component-icon">&#xf02c;</i>
            <p>{{car.price}}$/<small>day</small></p>
          </div>
        </div>

        <div class="button-container">
          <button type="button" class="btn btn-outline-light btn-lg btn-block" data-toggle="modal"
                  attr.data-target="#modal{{car.id}}" [disabled]="!logged" style="font-size: 20px"
                  (click)="initForm(car.id)">
            Rent this car
          </button>
          <div class="modal fade" id="modal{{car.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="modal-header">
                    <div class="car-header">
                      <h5 class="car-name mb-0" style="color: black; font-size: 25px">Currently renting:<br>
                        <strong>{{car.brand}} {{car.model}}</strong></h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <!-- Date picker -->
                  <div class="modal-body" style="color: black">
                    <!-- Start date -->
                    <div class="date-input-container">
                      <label for="startDate-string" class="mb-0">Select the rental date:</label>
                      <input formControlName="startDate" type="date"
                             id="startDate-string"/>
                    </div>
                    <!-- Error message -->
                    <div *ngIf="f.startDate.touched" class="error-container">
                      <small *ngIf="f.startDate.errors?.required"
                      >Required</small>
                      <small *ngIf="form.errors?.invalidFrom">
                        Select a date over today</small>
                    </div>
                    <!-- End date -->
                    <div class="date-input-container mt-2">
                      <label for="endDate-string" class="mb-0">Select the return date:</label>
                      <input formControlName="endDate" type="date"
                             id="endDate-string"/>
                    </div>
                    <!-- Error message -->
                    <div *ngIf="f.endDate.touched" class="error-container">
                      <small *ngIf="endDate?.errors?.required && endDate?.touched ">Required.&nbsp;</small>
                      <small *ngIf="form.errors?.invalidTo" class="text-danger">Choose a date over today.</small>
                      <small *ngIf="form.errors?.dates" class="text-danger">End date should be grater than start
                        date</small>
                    </div>
                  </div>
                  <div class="modal-footer" style="justify-content: space-between">
                    <p class="total-price">Total cost for your rental: <strong>{{calculatePrice(car.price)}}</strong>$
                    </p>
                    <div class="modal-footer-buttons">
                      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-outline-dark ml-3" [disabled]="!form.valid">Buy</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
