/* You can add global styles to this file, and also import other style files */
.background-mask {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 30px 10px;
  border-radius: 1rem;
  width: 400px;
  height: auto;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 82vh;
  width: 80vw;
}

.home-header {
  font-family: "Sora", Sans-serif, serif;
  color: white;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 0;
  margin-bottom: 0;
}

.main-div-enhanced {
  background-image: url('/db/car-rental/frontend/src/assets/images/background-2.jpg');
  height: calc(100vh - 56px);
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.error-section {
  width: 400px;
  font-size: 30px;
  padding: 20px;
  border-radius: 1rem;
}

.plain-background {
  background-color: #282525;
  height: calc(100vh - 56px);
  overflow: auto;
}

.flexible {
  display: flex;
  justify-content: space-evenly;
}

.car-card {
  width: 35rem;
  border: 0;
  background-color: #1f1d1d;
  color: white;
}

.car-name {
  font-family: "Sora", Sans-serif, serif;
}

.car-header {
  display: flex;
  justify-content: flex-start;
}

.car-components {
  font-family: "Sora", Sans-serif, serif;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.car-component {
  display: flex;
}

.component-icon {
  font-size: 24px;
  margin-right: 5px;
}

.total-price {
  font-family: "Sora", Sans-serif, serif;
  color: black;
}
