/* You can add global styles to this file, and also import other style files */
.background-mask {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 30px 10px;
  border-radius: 1rem;
  width: 350px;
  height: auto;
}
